.footer {
    height: 100px;
    background: #141B41;
    margin-top: 150px;
    span {
        float: right;
        padding-top: 45px;
        font-size: 16px;
        line-height: 140%;
        color: #E9ECF5;
    }
}